.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.navigation {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-color: #cccccc;
    border-width: 2px;
    
    
}
.name {
    position: fixed;
    background-color: #4aaaa5;
    padding: 33px;
    margin-left: 332px;
    font-size: 30px;
    color: white;
    top: 0px;
}
.listwrap {
  position: fixed;
  right: 0px;
  top: 0px;
}
.listwrap li:not(:first-child):after {
  content: " | ";
}
ul {
    position: fixed;
    list-style-type: none;
    top: 12px;
    right: 325px;
    overflow: hidden;
    background-color: #ffffff;
    height: 70px;
    margin: auto;
    
  }
  
  li {
    float: right;
  }
  
  li a {
    margin-top: 15px;
    display: inline-block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
.aboutme {
    color:  #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
  }  
hr {
color: #dddddd;
  }
.aboutwrapper {
  margin: 35px 25px 25px 25px;
  line-height: 1.6;
  text-align: left;
  font-size: 20px;
  color: grey;

  }
 #aboutpic { 
   width: 400px;
    float: left;
    padding: 30px;
  }
.aboutcontent {
  width: 960px;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top: solid;
    border-color:#4aaaa5;
    border-width: 5px;
    height: 60px;
  }
.footercopy {
margin-top: 40px;
font-size: 13px;
color: #cccccc;
}
.pagecontainer {
  margin-top: 125px;
  margin-bottom: 125px;
}

      
body {
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  
}
.imaging {
  height: 960px;
}
.images {
  float: left;
  width: 300px;
  padding: 15px;
  height: 300px;
}
.text {
  height: 19px;
  width: 100%;
}
textarea {
  width: 100%;
  height: 70px;
}
@media only screen and (max-width: 980px) {
  .aboutcontent {width: 600px; margin-left: 35px;} 
  #aboutpic {width: 200px; padding: 15px;}
  .aboutwrapper {font-size: 16px;}
  .aboutme {font-size: 23px;}
}

@media only screen and (max-width: 768px) {
  .aboutcontent{ width: 676px;}
  #aboutpic {width: 250px;}

  }

@media only screen and (max-width: 640px) {
  .aboutcontent {width: 600px; margin-left: 8px;}
  #aboutpic {width: 520px;}
  .listwrap {display: inline-block;}
  .navigation {position: static;}
  .name {position: static; width: 100%;margin-left:0px; text-align: center;}
  .listwrap {position: static; width: 100%;border-bottom-style: solid;
    border-color: #cccccc;
    border-width: 2px;}
  ul {position: static;margin-right: 144px;}

  }

